@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/rocket';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';
@plugin 'tailwind-scrollbar';

@import '@skeletonlabs/skeleton-svelte';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));
